Package: com.fl00d.lockmusic+
Name: LockMusic+
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: DarkYoloGang
Author: DarkYoloGang
Section: Tweaks
Version: 0.0.1-316+debug
Installed-Size: 260
